<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="display()">
    <div class="form-group">
      <label>Email</label>
      <input formControlName="email" class="form-control" aria-describedby="emailHelp">
      <div class="alert alert-danger" role="alert"
           *ngIf="loginForm.get('email').invalid && (loginForm.get('email').touched||loginForm.get('email').dirty)">
        Email is not valid
      </div>
    </div>

    <div class="form-group">
      <label>password</label>
      <input formControlName="password" class="form-control" aria-describedby="emailHelp">
      <div class="alert alert-danger" role="alert"
           *ngIf="loginForm.get('password').invalid && (loginForm.get('password').touched||loginForm.get('password').dirty)">
        password is not valid
      </div>
    </div>

    <input type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
  </form>


</div>

