<div class="container">
  <div>
    <h1 class="font-text-footer" style="text-align: -webkit-center;">Customer List</h1>
    <br>
    <table class="table table-hover" id="tableCustomer">
      <thead>
      <tr>
        <th>ID</th>
        <th>Type Name</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>Id Card</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>1</th>
        <td>Diamond</td>
        <td>Lương Thanh Thắng</td>
        <td>27/06/2000</td>
        <td>Nam</td>
        <td>113113113</td>
        <td>0905113113</td>
        <td>thang@gmail.com</td>
        <td>Đà Nẵng</td>
        <td>
          <button type="button" class="btn btn-info">Edit</button>
        </td>
        <td>
          <button type="button"
                  onclick="showInfo('1','Lương Thanh Thắng')"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#exampleModal">
            Delete
          </button>
        </td>
      </tr>

      <tr>
        <th>2</th>
        <td>Platinium</td>
        <td>Lương Thanh Thanh</td>
        <td>27/07/2000</td>
        <td>Nam</td>
        <td>113113113</td>
        <td>0905113113</td>
        <td>thanh123@gmail.com</td>
        <td>Quảng Nam</td>
        <td>
          <button type="button" class="btn btn-info">Edit</button>
        </td>
        <td>
          <button type="button"
                  onclick="showInfo('2','Lương Thanh Thanh')"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#exampleModal">
            Delete
          </button>
        </td>
      </tr>

      <tr>
        <th>3</th>
        <td>Gold</td>
        <td>Lương Thanh Thu</td>
        <td>27/08/2000</td>
        <td>Nam</td>
        <td>113113113</td>
        <td>0905113113</td>
        <td>thu123@gmail.com</td>
        <td>Đà Nẵng</td>
        <td>
          <button type="button" class="btn btn-info">Edit</button>
        </td>
        <td>
          <button type="button"
                  onclick="showInfo('3','Lương Thanh Thu')"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#exampleModal">
            Delete
          </button>
        </td>
      </tr>

      <tr>
        <th>4</th>
        <td>Member</td>
        <td>Lương Thanh A</td>
        <td>27/08/2000</td>
        <td>Nam</td>
        <td>113113113</td>
        <td>0905113113</td>
        <td>A@gmail.com</td>
        <td>Huế</td>
        <td>
          <button type="button" class="btn btn-info">Edit</button>
        </td>
        <td>
          <button type="button"
                  onclick="showInfo('4','Lương Thanh A')"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#exampleModal">
            Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!--+++++++++++++++modal+++++++++++++++++=-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <!--    **********Thêm thẻ form **************-->
    <form action="customer">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " id="exampleModalLabel">Xác Nhận Xoá !</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--         ***************************** thêm ***********************-->
          <input hidden type="text" id="idCustomer" name="id">
          <span>Bạn có muốn xóa khách hàng </span>
          <span class="text-danger" id="nameCustomer"></span> không?
          <!--       *************************************************************-->
        </div>
        <div class="modal-footer">
          <!--          *********************** Chuyển type button sang submit *********************-->
          <button type="submit" class="btn btn-primary">Có</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>

        </div>
      </div>
    </form>
  </div>
</div>
