<!--++++++++++++navbar top++++++++++++++++++-->
<div class="mt-2 sticky-top mt-3" style="background: #046056">
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand text-light ps-5 click">Home</a>
      <a class="navbar-brand text-light click">Employee</a>
      <a class="navbar-brand text-light click">Customer</a>
      <a class="navbar-brand text-light click">Service</a>
      <a class="navbar-brand text-light click">Contract</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>
