<div class="container">
  <div>
    <h1 class="font-text-footer" style="text-align: -webkit-center;">Contract List</h1>
    <br>
    <table class="table table-hover" id="tableContract">
      <thead>
      <tr>
        <th>ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Deposit</th>
        <th>Total Money</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>1</th>
        <td>2020-12-08</td>
        <td>2020-12-08</td>
        <td>0</td>
        <td>500000</td>
      </tr>

      <tr>
        <th>2</th>
        <td>2020-07-14</td>
        <td>2020-07-21</td>
        <td>200000</td>
        <td>1000000</td>
      </tr>

      <tr>
        <th>3</th>
        <td>2021-03-15</td>
        <td>2021-03-17</td>
        <td>50000</td>
        <td>700000</td>
      </tr>

      <tr>
        <th>4</th>
        <td>2021-01-14</td>
        <td>2021-01-18</td>
        <td>100000</td>
        <td>5000000</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
